<% provide(:title, "Contact") %>
<!DOCTYPE html>
<h1>Sample App - <%= yield(:title) %></h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>
